.stacks-list-content
  position relative
  margin 0

  .che-list-header-column,
  .che-list-item-row .che-list-item-secondary
    padding-left 2px
    line-height 39px

  .apply-filter-to-selected-column
    position absolute
    right 180px
    top 15px

    md-checkbox
     margin: 8px
     padding 0

  .apply-column-changes
    .applied-column
      background-color #F2F7FD
    .header-sort-direction
      display none

  .devfile-selector-icon-column
    width 100px

  .devfile-selector-item-icon
    line-height 38px
    font-size 25px
    width 55px
    text-align center
    filter grayscale(100%) opacity(50%)

    img
      height 25px
      vertical-align inherit

    div
      width 42px

  che-editor
    width 100%
    margin-bottom 15px

md-progress-linear.stack-list-progress
  height 10px
